


<header>
  <section class="left-side">
    [INSERT TITLE HERE]
  </section>

  <section class="right-side">

    <!-- LOGGED IN -->
    <ng-container *ngIf="user | async as user">
      <div class="user">
        <div class="user-logo">
          <img src="{{ user.photoURL }}">
        </div>
        {{ user.displayName }}
      </div>
  
      <button mat-button (click)="authService.logout()">
        Logout
      </button>
    </ng-container>


  </section>
</header>

<router-outlet></router-outlet>
