

<!-- TODO: Show loading indicator while loading -->
<ng-container *ngIf="game.loaded.select() | async">

  <div class="board">
    <div *ngFor="let row of (board.squares.select() | async); trackBy: trackByRow" class="row">
      <div *ngFor="let square of row.cols; trackBy: trackBySquare"
        class="square"
        [ngClass]="{'pending': square.pending, 'valid': square.valid}"
        cdkDrop 
        [cdkDropConnectedTo]="drops"
        [cdkDropData]="square"
        (cdkDropDropped)="dropped(square, $event)"
        [cdkDropEnterPredication]="canTileEnter(square)">
        <app-tile *ngIf="square.tile as tile" [tile]="tile"></app-tile>
      </div>
    </div>
  </div>

  <!-- <section>
    <pre>{{ player | async | json}}</pre>
  </section> -->

  <div
      class="tile-tray"
      cdkDrop
      cdkDropOrientation="horizontal"
      [cdkDropConnectedTo]="drops"
      (cdkDropDropped)="dropInTray($event)">
    <app-tile
        *ngFor="let tile of (playerTiles | async)"
        [tile]="tile"
        (click)="pickup(tile)"
        cdkDrag
        [cdkDragData]="tile"></app-tile>
  </div>

  <button mat-raised-button (click)="endTurn()">
    End turn
  </button>

  <button mat-raised-button (click)="game.reset()">
    Reset
  </button>

  <div *ngIf="player | async as player">
    Score this turn: {{ board.score.select() | async }}
    <br>
    Total score: {{ player .score }}
  </div>

</ng-container>